<div id="monthly-summary-block">
  <div class="month-block">
    <h1>Spending Summary for <%= month_name(@month.to_i)%>, <%= @year %>.</h1>
    <% if current_user.budgets.where(date: @date - 1.month).exists? %>
      <div class="archive-link float-left ">
        <%= link_to "#{month_name(@month.to_i-1)}, #{@year}", summary_by_month_path(@year, @month.to_i-1) %>
      </div> 
    <% end %>
    <% if current_user.budgets.where(date: @date + 1.month).exists? %>
      <div class="archive-link float-right ">
        <%= link_to "#{month_name(@month.to_i+1)}, #{@year}", summary_by_month_path(@year, @month.to_i+1) %>
      </div> 
    <% end %>
      <%= render "monthly_category_block", cat_title: "Income", categories: @categories.income, date: @date %>
      <%= render "monthly_category_block", cat_title: "Variable Expenses", categories: @categories.variable, date: @date %>
      <%= render "monthly_category_block", cat_title: "Fixed Expenses", categories: @categories.fixed, date: @date %>
      <%= render "monthly_category_block", cat_title: "Occasional Expenses", categories: @categories.occasional, date: @date %>
      <%= render "monthly_category_block", cat_title: "Debt Payments", categories: @categories.debt, date: @date %>
      <%= render "monthly_category_block", cat_title: "Savings", categories: @categories.savings, date: @date %>
  </div>
</div>