<h1>Listing budgets</h1>
        <table class="border-table">
        <tbody>
<% @years.each do |year|%>
    <% @months.sort.each do |month| %>
    <tr><td colspan="2"><h3><%= Date::MONTHNAMES[month]%>, <%= year %></h3></td></tr>

        <% @month_budgets = @budgets.where(year: year, month: month) %>
        <% @month_budgets.each do |budget|%> 
          <tr>
            <td><%= link_to budget.title, budget %></td>
            <td><%= number_to_currency(budget.remaining) %></td>
          </tr>
          <% end %>

    <% end %>
<% end %>
</tbody>
</table>
<br>


<%= link_to 'New Budget', new_budget_path %>
