<p id="notice"><%= notice %></p>

<div class="budgets-tabs">
	<% @category_budgets.order("date ASC").each do |budget| %>
		<div class="budget-thumb-link">
			<%= link_to budget do %>
				<%= budget.date.strftime("%b") %>
				<%= budget.date.strftime("%y") %>
			<% end %>
		</div>
	<% end %>
</div>		
<div class="page-title-inline">
<h2><%= @budget.title %></h2><h4>, <%= @budget.date.strftime("%B %Y")%></h4>	
</div>

<p>
  <strong>Remaining:</strong>
  <%= @budget.remaining %>
</p>

<p>
  <strong>Month:</strong>
  <%= @budget.date.strftime("%B %Y")%>
</p>

<%= render 'transactions/transaction_table', transactions: @transactions, trans_title: "Transactions", show_category: false %>

<%= link_to 'Edit', edit_budget_path(@budget) %> |
<%= link_to 'Back', budgets_path %>
