<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @budget.title %>
</p>

<p>
  <strong>Remaining:</strong>
  <%= @budget.remaining %>
</p>

<p>
  <strong>Date:</strong>
  <%= @budget.month %>/<%=@budget.year%>
</p>

<%= link_to 'Edit', edit_budget_path(@budget) %> |
<%= link_to 'Back', budgets_path %>
