<div class="block-container actions">
    <div class="block-sixth"><%=link_to "Summary & Analytics", categories_path %></div>
    <div class="block-sixth"><%=link_to "Saved Over Time", accrued_categories_path %></div>
    <div class="block-sixth"><%=link_to "Spending by Month", budgets_path %></div>
    <div class="block-sixth"><%=link_to "Transactions", transactions_path %></div>
    <div class="block-sixth"><%=link_to "New Transaction", new_transaction_path %></div>
</div>