<h2>Sign In</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "pure-form"}) do |f| %>
  <div class="login-line-item">
  <%= f.email_field :email, :autofocus => true, :class => "login-form", placeholder: "email" %></div>

  <div class="login-line-item">
  <%= f.password_field :password, :class => "login-form", placeholder: "password" %></div>

  <% if devise_mapping.rememberable? -%>
    <div class="login-line-item"><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div class="button-separator"><%= f.submit "Sign in", :class => "two-centered-on-twelve two-twelve-button button is-primary" %></div>
<% end %>


<%= render "devise/shared/links" %>


<div class="learn-more">
	<h2>Not convinced? <%= link_to "Learn more.", "/setup_201" %></h2>
	<h2>Never budgeted? <%= link_to "Start Here.", "/budget_101" %></h2>
</div>