<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :order %><br>
    <%= f.text_field :order %>
  </div>
  <div class="field">
    <%= f.label :monthly_spend %><br>
    <%= f.text_field :monthly_spend %>
  </div>
  <div class="field">
    <%= f.label :initial_cash %><br>
    <%= f.text_field :initial_cash %>
  </div>
    <%= f.hidden_field :user_id, :value => current_user.id %>
 <div class="field">
      <%= f.label :classification %><br>
    <% if params[:classification] %>
        <%= f.hidden_field :classification, value: params[:classification] %>
        <%= params[:classification] %>
    <% else %>
      <%= f.select :classification, Category::Classification %>
    <% end %>  

    </div>
    <div class="field">
      <%= f.label :need_type %><br />
      <%= f.select :need_type, Category::NeedSaveWant %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
