<div class="block-half one-em-pad"%>
	<h2>Variable Monthly Expenses</h2>
	<%= render 'accrued_table_section', :local_categories => @categories.variable %>
</div>

<div class="block-half one-em-pad"%>
	<h2>Fixed Monthly Expenses</h2>
	<%= render 'accrued_table_section', :local_categories => @categories.fixed %>
</div>

<div class="block-half one-em-pad"%>
	<h2>Occasional Expenses</h2>
	<%= render 'accrued_table_section', :local_categories => @categories.occasional %>
</div>

<div class="block-half one-em-pad"%>
	<h2>Monthly Debt Payments</h2>
	<%= render 'accrued_table_section', :local_categories => @categories.debt %>
</div>

<div class="block-half one-em-pad"%>
	<h2>Monthly Savings</h2>
	<%= render 'accrued_table_section', :local_categories => @categories.savings %>
</div>
