<div class="main-content">
    <h1>Budget Analytics</h1>
    <%= render 'budget_analysis' %>
    <h1>Spending Summary</h1>

    <div class="block-container">
    <div class="block-half">
        <h2>Monthly Income</h2>
        <% unless @categories.income.blank? %>
            <%= render 'summary_by_classification', :local_categories => @categories.income %>
        <% else %>
            <tr><td colspan="2">You haven't added any categories here yet. <%= link_to "Add one now.", new_category_path(:classification => "Income") %></td></tr>
        <% end %>
    </div>

    <div class="block-half"><h2>Variable Monthly Expenses</h2>
        <% unless @categories.variable.blank? %>
            <%= render 'summary_by_classification', :local_categories => @categories.variable %>
        <% else %>
            <tr><td colspan="2">You haven't added any categories here yet. <%= link_to "Add one now.", new_category_path(:classification => "Variable Expense") %></td></tr>
        <% end %>
    </div>

    <div class="block-half"><h2>Fixed Monthly Expenses</h2>
        <% unless @categories.fixed.blank? %>
            <%= render 'summary_by_classification', :local_categories => @categories.fixed %>
        <% else %>
            <tr><td colspan="2">You haven't added any categories here yet. <%= link_to "Add one now.", new_category_path(:classification => "Fixed Expense") %></td></tr>
        <% end %>
    </div>

    <div class="block-half"><h2>Occasional Expenses</h2>
        <% unless @categories.occasional.blank? %>
            <%= render 'summary_by_classification', :local_categories => @categories.occasional %>
        <% else %>
            <tr><td colspan="2">You haven't added any categories here yet. <%= link_to "Add one now.", new_category_path(:classification => "Occasional Expense") %></td></tr>
        <% end %>
    </div>


    <div class="block-half"><h2>Monthly Debt Payments</h2>
        <% unless @categories.debt.blank? %>
            <%= render 'summary_by_classification', :local_categories => @categories.debt %>
        <% else %>
            <tr><td colspan="2">You haven't added any categories here yet. <%= link_to "Add one now.", new_category_path(:classification => "Debt Payment") %></td></tr>
        <% end %>
    </div>



    <div class="block-half"><h2> Monthly Savings</h2>
        <% unless @categories.savings.blank? %>
            <%= render 'summary_by_classification', :local_categories => @categories.savings %>
        <% else %>
            <tr><td colspan="2">You haven't added any categories here yet. <%= link_to "Add one now.", new_category_path(:classification => "Transfer to Savings") %></td></tr>
        <% end %>
    </div>
    </div>




    <%= link_to 'New Category', new_category_path %>
</div>
