<h1>Listing categories</h1>

<% @years.each do |year| %>
    <h2><%= year %></h2>
    <table class="border-table">
        <tr>
            <td>Category</td>
            <% @categories.each do |category| %>
            <td><%= category.title %></td>
            <% end %>
        </tr>
        <% @months.each do |month| %>
            <tr>
                <td><%= Date::MONTHNAMES[month] %></td>
                <% @categories.each do |category| %>
                    <td><%= category.budgets.where(year: year, month: month).first.remaining if category.budgets.where(year: year, month: month).first %></td>
                <% end %>
            </tr>
        <% end %>
    </table>
<% end %>

<br>

<%= link_to 'New Category', new_category_path %>

