<h1>Budget Analytics</h1>
<p><em>Use these industry-standard analytics and recommendations to optimize your budget allocation and achieve greater financial health, short and long term.</em></p>
<%= render 'budget_analysis' %>
<h1>Spending Summary</h1>
<p><em>This is the amount you have budgeted for each category.</em></p>
<div id="summary_analysis" class="block-container">
<div class="block-class summary-block-full">
    <h2>Monthly Income</h2>
    <% unless @categories.income.blank? %>
        <%= render 'summary_by_classification', :local_categories => @categories.income %>
        <div class="new-cat-present"><%= link_to "Add a category.", new_category_path(:classification => "Income") %></div>
    <% else %>
        <div class="new-cat-empty">No categories here yet. <%= link_to "Add one now.", new_category_path(:classification => "Income") %></div>
    <% end %>
</div>

<div class="block-class summary-block-full"><h2>Variable Monthly Expenses</h2>
    <% unless @categories.variable.blank? %>
        <%= render 'summary_by_classification', :local_categories => @categories.variable %>
        <div class="new-cat-present"><%= link_to "Add a category.", new_category_path(:classification => "Variable Expense") %></div>
    <% else %>
        <div class="new-cat-empty">No categories here yet. <%= link_to "Add one now.", new_category_path(:classification => "Variable Expense") %></div>
    <% end %>
</div>

<div class="block-class summary-block-half"><h2>Fixed Monthly Expenses</h2>
    <% unless @categories.fixed.blank? %>
        <%= render 'summary_by_classification', :local_categories => @categories.fixed %>
    <% else %>
        <div class="new-cat-present">No categories here yet. <%= link_to "Add one now.", new_category_path(:classification => "Fixed Expense") %></div>
    <% end %>
</div>

<div class="block-class summary-block-half second-half"><h2>Occasional Expenses</h2>
    <% unless @categories.occasional.blank? %>
        <%= render 'summary_by_classification', :local_categories => @categories.occasional %>
    <% else %>
        <div class="new-cat-present">No categories here yet. <%= link_to "Add one now.", new_category_path(:classification => "Occasional Expense") %></div>
    <% end %>
</div>


<div class="block-class summary-block-half"><h2>Monthly Debt Payments</h2>
    <% unless @categories.debt.blank? %>
        <%= render 'summary_by_classification', :local_categories => @categories.debt %>
    <% else %>
        <div class="new-cat-present">No categories here yet. <%= link_to "Add one now.", new_category_path(:classification => "Debt Payment") %></div>
    <% end %>
</div>



<div class="block-class summary-block-half second-half"><h2> Monthly Savings</h2>
    <% unless @categories.savings.blank? %>
        <%= render 'summary_by_classification', :local_categories => @categories.savings %>
    <% else %>
        <div class="new-cat-present">No categories here yet. <%= link_to "Add one now.", new_category_path(:classification => "Transfer to Savings") %></div>
    <% end %>
</div>
</div>




<%= link_to 'New Category', new_category_path %>
