<h1>Budget Analytics</h1>
<%= render 'budget_analysis' %>
<h1>Spending Summary</h1>

<table class="border-table">
<tr><td><h2>Monthly Income</h2></td><td>Budget</td><td>Remaining this month</td></tr>
<%= render 'summary_by_classification', :local_categories => @categories.income %>

<tr><td><h2>Variable Monthly Expenses</h2></td><td>Budget</td><td>Remaining this month</td></tr>
    <%= render 'summary_by_classification', :local_categories => @categories.variable %>

<div class="half">
<tr><td><h2>Fixed Monthly Expenses</h2></td><td>Budget</td><td>Remaining this month</td></tr>
    <%= render 'summary_by_classification', :local_categories => @categories.fixed %>

<tr><td><h2>Occasional Expenses</h2></td><td>Budget</td><td>Remaining this month</td></tr>
<%= render 'summary_by_classification', :local_categories => @categories.occasional %>


<tr><td><h2>Monthly Debt Payments</h2></td><td>Budget</td><td>Remaining this month</td></tr>
<%= render 'summary_by_classification', :local_categories => @categories.debt %>



<tr><td><h2> Monthly Savings</h2></td><td>Budget</td><td>Remaining this month</td></tr>
<%= render 'summary_by_classification', :local_categories => @categories.savings %>
</table>




<%= link_to 'New Category', new_category_path %>

