<p id="notice"><%= notice %></p>

<h1><%= @category.title %></h1>


<p>
  <strong>Monthly spend:</strong>
  <%= @category.monthly_spend %>
</p>

<p>
  <strong>Initial Cash:</strong>
  <%= @category.initial_cash %>
</p>

<% @years.each do |year|%>
<%= year %>
    <% @months.sort.each do |month| %>
    <h2><%= Date::MONTHNAMES[month]%></h2>
        <% @budget = @budgets.where(year: year, month: month).first %>
        <table class="border-table">
        <tbody>
        <% @budget.transactions.each do |transaction|%>          
          <tr>
            <td><%= link_to transaction.title, transaction %></td>
            <td><%= transaction.date %></td>
            <td><%= transaction.amount %></td>
            <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
            <td><%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
        <tr>
            <td colspan="2">Budgeted for <%= Date::MONTHNAMES[month]%></td>
            <td><%= @budget.initial %></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="2">Spent for <%= Date::MONTHNAMES[month]%></td>
            <td><%= @budget.transactions.to_a.sum(&:amount)%></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="2">Remaining for <%= Date::MONTHNAMES[month]%></td>
            <td><%= @budget.remaining%></td>
            <td></td>
            <td></td>
        </tr>
      </tbody>
      </table>
    <% end %>
<% end %>

<p>
  <strong>Reset on:</strong>
  <%= @category.reset_on %>
</p>

<p>
  <strong>Net cash:</strong>
  <%= @category.net_cash %>
</p>

<p>
  <strong>User:</strong>
  <%= @category.user_id %>
</p>

<p>
  <strong>Spree:</strong>
  <%= @category.spree %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
