<p id="notice"><%= notice %></p>

<h1><%= @category.title %></h1>


<p>
  <strong>Monthly spend:</strong>
  <%= @category.monthly_spend %>
</p>

<p>
  <strong>Initial Cash:</strong>
  <%= @category.initial_cash %>
</p>
<table class="border-table">
<tbody>
<% @years.each do |year|%>
<tr><td colspan="5"><h2><%= year %></h2></td></tr>
    <% @months.sort.each do |month| %>
    <tr><td colspan="5"><h2><%= Date::MONTHNAMES[month]%></h2></td></tr>
        <% @budget = @budgets.where(year: year, month: month).first %>

        <% @budget.transactions.each do |transaction|%>          
          <tr>
            <td><%= link_to transaction.title, transaction %></td>
            <td><%= transaction.date %></td>
            <td><%= transaction.amount %></td>
            <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
            <td><%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
        <tr>
            <td colspan="2">Budgeted for <%= Date::MONTHNAMES[month]%></td>
            <td><%= @budget.initial %></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="2">Spent for <%= Date::MONTHNAMES[month]%></td>
            <td><%= @budget.initial - @budget.remaining%></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="2">Remaining for <%= Date::MONTHNAMES[month]%></td>
            <td><%= @budget.remaining%></td>
            <td></td>
            <td></td>
        </tr>

    <% end %>
<% end %>
</tbody>
</table>
<p>
  <strong>Net cash:</strong>
  <%= @category.net_cash %>
</p>

<p>
  <strong>User:</strong>
  <%= @category.user.email %>
</p>

<p>
  <strong>Classification:</strong>
  <%= @category.classification %>
</p>

<p>
  <strong>Need/Save/Want:</strong>
  <%= @category.need_type %>
</p>

<p>
  <strong>Frequency:</strong>
  <%= @category.frequency %>
</p>

<div id="accrued" style="width: 600px; height: 300px; padding: 0px; position: relative;">
<canvas class="base" width="600" height="300"></canvas>
<canvas class="overlay" width="600" height="300" style="position: absolute; left: 0px; top: 0px;"></canvas>
<div class="tickLabels" style="font-size:smaller"><div class="xAxis x1Axis" style="color:#545454"><div class="tickLabel" style="position:absolute;text-align:center;left:-5px;top:284px;width:75px">0</div><div class="tickLabel" style="position:absolute;text-align:center;left:78px;top:284px;width:75px">2</div><div class="tickLabel" style="position:absolute;text-align:center;left:162px;top:284px;width:75px">4</div><div class="tickLabel" style="position:absolute;text-align:center;left:245px;top:284px;width:75px">6</div><div class="tickLabel" style="position:absolute;text-align:center;left:329px;top:284px;width:75px">8</div><div class="tickLabel" style="position:absolute;text-align:center;left:412px;top:284px;width:75px">10</div><div class="tickLabel" style="position:absolute;text-align:center;left:496px;top:284px;width:75px">12</div></div><div class="yAxis y1Axis" style="color:#545454"><div class="tickLabel" style="position:absolute;text-align:right;top:269px;right:575px;width:25px">-2.5</div><div class="tickLabel" style="position:absolute;text-align:right;top:230px;right:575px;width:25px">0.0</div><div class="tickLabel" style="position:absolute;text-align:right;top:191px;right:575px;width:25px">2.5</div><div class="tickLabel" style="position:absolute;text-align:right;top:152px;right:575px;width:25px">5.0</div><div class="tickLabel" style="position:absolute;text-align:right;top:113px;right:575px;width:25px">7.5</div><div class="tickLabel" style="position:absolute;text-align:right;top:74px;right:575px;width:25px">10.0</div><div class="tickLabel" style="position:absolute;text-align:right;top:35px;right:575px;width:25px">12.5</div><div class="tickLabel" style="position:absolute;text-align:right;top:-4px;right:575px;width:25px">15.0</div></div></div>
</div>
<script type="text/javascript">

$(function () {
    var d1 = [];
    for (var i = 0; i < gon.number_dates; i += 1)
        d1.push([i, gon.remainings[i]]);
    var d2 = [];
    for (var i = 0; i < gon.number_dates; i += 1)
        d2.push([i, gon.accrued[i]]);
    var xticks1 = [];
    for (var i = 0; i < gon.number_dates; i += 1)
        xticks1.push([i, gon.dates[i]]);
        //[0, "June"], [1, "July"], [2, "August"], [3, "September"], [4, "October"]];
    var options = {
        xaxis: {
            ticks: xticks1
        }
    }


    $.plot($("#accrued"), [ { label: "Remaining Per Month", data: d1, bars: { show: true, 'align': "center", 'barWidth':0.7} }, { label: "Saved Over Time", data: d2, lines: { show: true}, points: { show: true} } ], options );
});

    //var xticks = [];
       // for (var i = 0, i < gon.number_dates, i+= 1)
       // xticks.push([i, gon.dates[i]]);
    //var xticks1 = [[0, "June"], [1, "July"], [2, "August"], [3, "September"], [4, "October"]];
    //var options = {
       // xaxis: {
            //ticks: [[0, "June"], [1, "July"], [2, "August"], [3, "September"], [4, "October"]];
        //}
 //   }
//[[0, "June"], [1, "July"], [2, "August"], [3, "September"], [4, "October"]] 

</script>




<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
