<%= form_for(@transaction, :html => {:class => "pure-form"}) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2>Oops! Something didn't work out</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <% if params[:category_id] %>
        <%= f.hidden_field :category_id, value: params[:category_id] %>
        <%= Category.find(params[:category_id]).title %>
    <% else %>
        <%= f.select :category_id, current_user.categories.map { |category| [category.title, category.id] } %>
    <% end %>
  </div>
  <div class="field">
    <% if @transaction.date %>
      <%= f.label :date %><br>
      <%= f.text_field :input_date, class: "datepicker", value: @transaction.date.strftime('%m/%d/%Y')  %>
    <% else %>
      <%= f.text_field :input_date, value: Date.today.strftime("%m/%d/%Y"), class: "datepicker"  %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :raw_amount %>
  </div>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <div class="actions">
    <%= f.submit "Add Transaction", :class => "three-nine-button button is-success" %>
  </div>
<% end %>
