<% if @transactions %>
<h1>Listing transactions</h1>
<table class="border-table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th>Date</th>
      <th>Amount</th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= link_to transaction.title, transaction %></td>
        <td><%= transaction.category.title %></td>
        <td><%= transaction.date %></td>
        <td><%= number_to_currency(transaction.amount) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<h3>No transactions yet. <%= link_to "Add one now.", new_transaction_path %></h3>
<% end %>
<br>

<%= link_to 'New Transaction', new_transaction_path %>
