<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @transaction.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= link_to @transaction.category.title, @transaction.category %>
</p>

<p>
  <strong>Budget:</strong>
  <%= link_to @transaction.budget.title, @transaction.budget %>
</p>

<p>
  <strong>Date:</strong>
  <%= @transaction.date %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @transaction.amount %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Destroy', @transaction, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', transactions_path %>
