<!DOCTYPE html>
<html>
<head>
  <title>CashZen</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Open+Sans:400,300" %>
  <%= stylesheet_link_tag "http://yui.yahooapis.com/pure/0.3.0/forms-min.css" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container wrapper">
    <header class="no-user-banner">
        <h1 class="text-center">CashZen is a better way to budget.</h1>
        <div id="notices">
          <% if notice %>
            <p class="limited-notice"><%= notice %></p>
          <% end %>
          <% if alert %>
            <p class="limited-alert"><%= alert %></p> 
          <% end %>
        </div>
    </header>
	<div class="no-user-container">
		<%= yield %>
	</div>
</div>

</body>
</html>