<%= form_for(@build_transaction, :html => {:class => "pure-form"}) do |f| %>
  <% if @build_transaction.errors.any? %>
    <div id="error_explanation">
      <h2>Oops! Something didn't work out</h2>

      <ul>
      <% @build_transaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div id="quickadd">
    <h2>Quick Transaction</h2>
    <div class="right">
      <%= f.text_field :title, placeholder: "Title" %>
    </div>
    <div class="right">
    <%= f.select :category_id, grouped_options_for_select(Category.for_select(current_user.id)) %>
    </div>
    <div class="right">
      <%= f.text_field :input_date, value: Date.today.strftime("%m/%d/%Y"), class: "datepicker"  %>
    </div>
    <div class="right">
      <%= f.text_field :raw_amount, placeholder: "Amount (or equation)" %>
    </div>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.submit "Add Transaction", :class => "three-three-button button is-success" %>
  </div>
<% end %>
