<%= form_for(@build_transaction) do |f| %>
  <% if @build_transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@build_transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @build_transaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="quickadd">
    <h2>Quick Add</h2>
    <%= f.label :title %>
    <%= f.text_field :title %></br>
    <%= f.label :category %>
    <%= f.select :category_id, current_user.categories.map { |category| [category.title, category.id] }, :include_blank => true %></br>
    <%= f.label :date %>
    <%= f.date_select :date %></br>
    <%= f.label :amount %>
    <%= f.text_field :raw_amount %></br>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.submit "Add Transaction", :class => "green_button" %>
  </div>
<% end %>
