<%= form_for(@build_transaction) do |f| %>
  <% if @build_transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@build_transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @build_transaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="quickadd">
    <h2>Quick Add</h2>
    <div class="left">
      <%= f.label :title %>
    </div>
    <div class="right">
      <%= f.text_field :title %>
    </div>
    <div class="left">
      <%= f.label :category %>
    </div>
    <div class="right">
    <% cities = {
      'Income'      => ['Washington', 'New York'],
      'Bulgaria' => ['Sofia', 'Svishtov']
    } %>
    <%= f.select :category_id, grouped_options_for_select(Category.for_select) %>

      <%#= f.grouped_collection_select(:transaction, :category_id, current_user.categories, :classification, :title, :id, :title)%>
      <%#= f.select :category_id, current_user.categories.order("title ASC").map { |category| [category.title, category.id] }, :include_blank => true %>
    </div>
    <div class="left">
      <%= f.label :date %>
    </div>
    <div class="right">
      <%= f.text_field :date, class: "datepicker"  %>
    </div>
    <div class="left">
      <%= f.label :amount %>
    </div>
    <div class="right">
      <%= f.text_field :raw_amount %>
    </div>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.submit "Add Transaction", :class => "green_button" %>
  </div>
<% end %>
