<div class="push">
</div>
<footer>
  <div class="column">
  <h3>CashZen Resources</h3>
  	<ul>
  		<li><%= link_to "Introduction", welcome_path %></li>
  		<li><%= link_to "Mission", mission_path %></li>
  		<li><%= link_to "Our Story", about_path %></li>
  		<li><%= link_to "Terms", terms_path %></li>
  		<li><%= link_to "Contact Us", contact_path %></li>
      <li><%= link_to "Contact Us", contact_path %></li>
  	</ul>
  </div>
  <div class="column">
  	<h3>Logo</h3>
  </div>
  <div class="column">
  	<h3>Why CashZen?</h3>
  	<p>CashZen exists to solve the pain points of other budgeting services. CashZen is forward-facing, discipline-oriented, lightweight and customized. Read more here.</p>
  </div>
</footer>