<!DOCTYPE html>
<html>
<head>
  <title>CashZen</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Open+Sans:400,300" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
    <header class="banner">
        <h1 class="title text-center">CashZen</h1>
        <%= render 'layouts/nav_actions' if user_signed_in? %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p> 
    </header>
    <article class="content">
        <%= yield %>
    </article>
    <aside class="global-transaction-form">
      <%= render 'layouts/build_transaction' if user_signed_in? %>
    </aside>
</div>
</body>
</html>
